@import 'colors';

.dropdown-menu.open{
  border-radius: 0px;
  z-index: 3;
  li:hover{
    color: $orange;
    a{
      color: $orange;
    }
  }
  li.selected{
    a{
      background-color: $orange;
      color: white;
      border: none;
    }
  }

  li{
    margin-top: 2px;
    a{

    font-size: 14px;
  }
  }


}

.autocomplete-suggestions{
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  margin-top: 3px;

  .autocomplete-suggestion{
    padding: 4px;
    cursor: Pointer;
    font-size: 14px;
  }

    .autocomplete-group {
      text-transform: uppercase;
      margin-bottom: 4px;
      margin-top: 5px;
    strong {
    font-weight: bold;
    font-size: 16px;
    color: #e46471;
    display: block;
    border-bottom: 1px solid grey;
  }
}
}

// Datepicker
.datepicker-dropdown{
  border-radius: 0px;
  padding: 25px;

.datepicker-switch:first-letter {
    text-transform: uppercase;

}

.datepicker-switch{
  font-size: 16px;
}

  th.dow{
    color: $orange;
  }

  th.next{
    font-size: 20px;
  }

  th.prev{
    font-size: 20px;
  }

  td.day{
    margin: 2px !important;
    padding: 8px;
  }

  td:hover{
    background-color: $orange !important;
    border-radius: 0px;
    background-image: none;
    color: white;
  }

  td.active.day{
    background-color: $orange !important;
    color: white;
    border-radius: 0px;
    background-image: none;
  }

  td.today.day{
    background-color: $dark-blue !important;
    border-radius: 0px;
    background-image: none;
    color: white;
  }
}
